{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %} DataPlus {% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
  <link href="{% static 'pics/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header" id="layui-header">
    <div class="layui-logo" style="font-size: 25px">
      <a href="/" style="color: #f8fcfb">Data Plus</a>
    </div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="{% url 'dashboard:index' %}" target="myiframe">Dashboard</a></li>
      <li class="layui-nav-item"><a href="{% url 'cmdb:HostIndex' %}" target="myiframe">主机管理</a></li>
      <li class="layui-nav-item"><a href="{% url 'jobs:JobIndex' %}" target="myiframe">作业平台</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">更多模块</a>
        <dl class="layui-nav-child">
          {% for menu in menus  %}
            <dd><a href="{{ menu.url }}" target="myiframe">{{ menu.name }}</a></dd>
          {% endfor %}
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="{% static 'pics/user.jpg' %}" class="layui-nav-img">
          {{request.user.username}}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="{% url 'admins:UserSet' %}" target="myiframe">账户设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="{% url 'logout' %}">注销</a></li>
    </ul>
  </div>
  
  <div class="layui-body" style="left: 0px" id="body">
     <iframe id="myiframe" name='myiframe' scrolling="yes" onload="changeFrameHeight()" frameborder="0" width="100%" src="{% url 'dashboard:index' %}"></iframe>
  </div>

  <div id="layui-footer" class="layui-footer footer" style="text-align: center;left: 0px; color: #393D49">
      ©2017
      <a href="http://www.jinmuinfo.com">上海锦木信息有限公司</a>
  </div>

</div>

<script src="{% static 'layui/layui.all.js' %}"></script>
<script type="text/javascript">
    function changeFrameHeight(){
        var ifm = document.getElementById("myiframe");
        var header = document.getElementById("layui-header").offsetHeight
        var footer = document.getElementById("layui-footer").offsetHeight
        // console.log(body, header, footer, document.documentElement.clientHeight);
        ifm.height = document.documentElement.clientHeight-header-footer-3;
      }

    window.onresize=function(){  
       changeFrameHeight();  
    } 
</script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</body>
</html>