{% load staticfiles %}
<!DOCTYPE html>
<html style="padding-left: 10px; padding-right: 10px; margin-top: 10px;">
<head>
  <meta charset="utf-8">
  <title>jobs-deploy</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}"  media="all">
</head>
<body>

<div>

	<form class="layui-form" action="{% url 'jobs:StateDeploy' script.id %}" method="post" id="myForm">{% csrf_token %}
	    <div class="layui-form-item">
	        <label class="layui-form-label">模块 <span style="color: #FF5722">*</span></label>
	        <div class="layui-input-block">
	        	<input type="text" name="script" lay-verify="required" placeholder="请输入要执行的模块名" class="layui-input" value="{{script.code}}">
	        </div>
	    </div>

      <div class="layui-input-block" id='host_nums'>
        {% if host_nums %}
          <span style="color: green">已选{{host_nums}}台</span>
        {% else %}
          已选0台
        {% endif %}
      </div>

	    <input type="hidden" name="hosts" id="hosts" placeholder="请输入内容主机salt客户端id, 或者点击下方按钮筛选主机" class="layui-input" value="{{ hosts }}">

	    <div class="layui-form-item">
	        <div class="layui-input-block">
	            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即执行</button>
	            <button class="layui-btn" type="button" onclick="select_host()">添加主机</button>
	        </div>
	    </div>
	</form>
	
    {% if res %}
         {% for minion, return in res.items %}
            <pre class="layui-code" lay-title="{{minion}}" lay-skin="notepad">

                {% for key, value in return.process.items %}
Step {{key}} | {{value.id}}:
{{'Name'|rjust:'15'}}: {{value.name}}
{{'Function'|rjust:'15'}}: {{value.fun}}
{{'Result'|rjust:'15'}}: {{value.result}}
{{'Comment'|rjust:'15'}}: {{value.comment}}
{{'Started'|rjust:'15'}}: {{value.start_time}}
{{'Duration'|rjust:'15'}}: {{value.duration}} ms
{{'Stderr'|rjust:'15'}}: {{value.changes.stderr}}
{{'Stdout'|rjust:'15'}}: 
{{value.changes.stdout}}
                {% endfor %}

Summary:
{{'Succeeded'|rjust:'15'}}: {{return.summary.succeeded}}
{{'Failed'|rjust:'15'}}: {{return.summary.failed}}
{{'Total_Duration'|rjust:'15'}}: {{return.summary.total_duration}} ms
            </pre>
          {% endfor %}
    {% endif %}

    {% if error %}
    <pre class="layui-code" lay-title="error" lay-skin="notepad">
<span style="color: red;">{{error}}</span>
    </pre>   
    {% endif %}
</div>

<script src="{% static 'layui/layui.all.js' %}" charset="utf-8"></script>

<script>
    var $ = layui.$;
    var layer = layui.layer;
    function select_host() {
        layer.open({
            type: 2,
            title: '筛选主机',
            maxmin: true, //开启最大化最小化按钮
            area: ['90%', '90%'],
            content: "{% url 'cmdb:HostSelect' %}"
        });
        return false;
    }

    var form = layui.form;
    form.on('submit(demo1)', function(data){
        // post for update
        var index = layer.load(1);
        document.getElementById("myForm").submit()
        return false;
     });

layui.use('code', function(){ //加载code模块
  layui.code(); //引用code方法
});
</script>
</body>
</html>